<nav class="bg-zinc-50">
  <div
    class="container mx-auto flex flex-wrap items-center justify-between bg-white px-16 py-8"
  >
    <a class="flex items-center space-x-3 rtl:space-x-reverse" href="/">
      <span class="text-2xl font-semibold">{{ site.title }}</span>
    </a>
    {% comment %}
    <ul class="flex items-center space-x-3">
      <li><a href="{% link about.md %}">About</a></li>
      <li><a href="{% link blogs/index.md %}">Blogs</a></li>
    </ul>
    {% endcomment %}
  </div>
</nav>
