---
layout: base
pagination:
  sort_field: "part"
  sort_reverse: false
---

{{ content }}

<div class="row">
  <div class="col-12 col-lg-8">
    {%- if page.autopages %}
      {% assign tag_id = page.autopages.display_name %}
      {% assign matching_tag = site.data.categories[tag_id] %}
      {% assign tag_name = matching_tag["name"] | default:tag_id %}
      <h2 class="post-list-heading text-4xl font-light">
        {{ tag_name }}
      </h2>
      {% if matching_tag %}
        <p class="text-zinc-600 mt-2 text-sm">
          {{ matching_tag["description"] }}
        </p>
      {% endif %}
    {%- endif -%}
    {% include post_list.liquid %}
  </div>

  <div class="col-12 col-lg-4">
    {% include category_list.liquid %}
    {% include tag_list.liquid %}
  </div>
</div>
