<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {%- seo -%}
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  </head>
  <body>
    <div class="flex min-h-screen flex-col justify-between">
      {% include nav.html %}

      <div class="flex flex-auto bg-zinc-50">
        <main class="container mx-auto bg-white p-16">{{ content }}</main>
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
