---
layout: base
---

{{ content }}

<div class="row">
  <div class="col-12 col-lg-8">
    {%- if page.list_title -%}
      <h2 class="post-list-heading text-4xl font-light">{{ page.list_title }}</h2>
    {%- endif -%}
    {% include post_list.liquid %}
  </div>

  <div class="col-12 col-lg-4">
    {% include category_list.liquid %}
    {% include tag_list.liquid %}
  </div>
</div>
