---
layout: base
---

{{ content }}

<div class="grid grid-cols-1 md:grid-cols-3 gap-16">
  <div class="md:col-span-2">
    {%- if page.list_title -%}
      <h2 class="post-list-heading text-4xl font-light">{{ page.list_title }}</h2>
    {%- endif -%}
    {% include post_list.liquid %}
  </div>

  <div class="col-span-1">
    {% include tag_list.liquid %}
  </div>
</div>
